<form action="/grade_form" method="post">
  Паралелка: <input type="text" name="name"><br><br>

  Предмет: <input type="text" name="subject1">
  Учител: <input type="text" name="teacher1">
  Хорариум: <input type="number" name="horarium1">
  <br>
  Предмет: <input type="text" name="subject2">
  Учител: <input type="text" name="teacher2">
  Хорариум: <input type="number" name="horarium2">
  <br>
  Предмет: <input type="text" name="subject3">
  Учител: <input type="text" name="teacher3">
  Хорариум: <input type="number" name="horarium3">
  <br>
  <input type="submit" value ="Добави" >
</form>