<h1>Добавяне на учител</h1>
<form action="/teacher_form" method="post">
  Име: <input type="text" name="name"><br>
  Предмет: <input type="text" name="subject"><br>
  <input type="submit" value="Добави учител">
</form>