<h1>Меню</h1>
<p><a href="/teacher_form">Добави учител</a></p>
<p><a href="/grade_form">Добави паралелка</a></p>
<p><a href="/teachers">Учители</a></p>
<p><a href="/grades">Паралелки</a></p>
<p><a href="/program">Създай програма</a></p>